<body>
  <div class="part1">
    <div class="desc">
      <h4>
        Bachelor of Science in Information Technology with Area of
        Specialization in Web Development Undergraduate
      </h4>
      <p>
        <strong>2020-2023</strong> at Holy Angel University<br />
        <i>#1 Holy Angel Avenue, Sto. Rosario Street, Angeles City, Pampanga</i>
      </p>
    </div>
    <hr />
    <div class="desc">
      <h4>Senior High School Graduate with High Honors</h4>
      <p>
        <strong>2014-2020</strong> at Holy Angel University<br />
        <i>#1 Holy Angel Avenue, Sto. Rosario Street, Angeles City, Pampanga</i>
      </p>
    </div>
    <hr />
    <div class="desc">
      <h4>Elementary School Graduate with Distinction</h4>
      <p>
        <strong>2008-2014</strong> at Holy Angel University<br />
        <i>#1 Holy Angel Avenue, Sto. Rosario Street, Angeles City, Pampanga</i>
      </p>
    </div>
  </div>
</body>
