<body>
  <div class="part">
    <h2>SOFT SKILLS</h2>
    <hr />
    <h5>COMMUNICATION</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="animated striped example"
      aria-valuenow="83"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="
          progress-bar progress-bar-striped progress-bar-animated
          bg-danger
        "
        style="width: 83%"
      ></div>
    </div>
    <h5>CREATIVIY</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="88"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="
          progress-bar progress-bar-striped progress-bar-animated
          bg-warning
        "
        style="width: 88%"
      ></div>
    </div>
    <h5>PROBLEM SOLVING</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="86"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="
          progress-bar progress-bar-striped progress-bar-animated
          bg-success
        "
        style="width: 86%"
      ></div>
    </div>
    <h5>WORK ETHIC</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="93"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-info"
        style="width: 93%"
      ></div>
    </div>
    <h5>ADAPTABILITY</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="90"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="
          progress-bar progress-bar-striped progress-bar-animated
          bg-primary
        "
        style="width: 90%"
      ></div>
    </div>
    <hr />
  </div>

  <div class="part">
    <h2>HARD SKILLS</h2>
    <hr />
    <h5>COMPUTER TECHNOLOGY</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="83"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="
          progress-bar progress-bar-striped progress-bar-animated
          bg-danger
        "
        style="width: 83%"
      ></div>
    </div>
    <h5>MATHEMATICS</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="89"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="
          progress-bar progress-bar-striped progress-bar-animated
          bg-warning
        "
        style="width: 89%"
      ></div>
    </div>
    <h5>DATA ANALYSIS</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="78"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="
          progress-bar progress-bar-striped progress-bar-animated
          bg-success
        "
        style="width: 78%"
      ></div>
    </div>
    <h5>EDITING</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="93"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-info"
        style="width: 93%"
      ></div>
    </div>
    <h5>COPYWRITING</h5>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuenow="86"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="
          progress-bar progress-bar-striped progress-bar-animated
          bg-primary
        "
        style="width: 86%"
      ></div>
    </div>
    <hr />
  </div>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    id="planguage"
  >
    PROGRAMMING LANGUAGE SKILLS
  </button>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            PROGRAMMING LANGUAGE SKILLS
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          JAVA
          <div
            class="progress"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              style="width: 80%"
            ></div>
          </div>
          PYTHON
          <div
            class="progress"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="84"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              style="width: 84%"
            ></div>
          </div>
          HTML/CSS
          <div
            class="progress"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              style="width: 81%"
            ></div>
          </div>
          PHP
          <div
            class="progress"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="83"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              style="width: 83%"
            ></div>
          </div>
          MYSQL
          <div
            class="progress"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="79"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              style="width: 79%"
            ></div>
          </div>
          JAVASCRIPT
          <div
            class="progress"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="70"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              style="width: 70%"
            ></div>
          </div>
          DART
          <div
            class="progress"
            role="progressbar"
            aria-label="Animated striped example"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              style="width: 75%"
            ></div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
