<body>
  <div class="card text-center">
    <div class="card-body">
      <app-about></app-about>
      <div class="row">
        <div class="col">
          <div class="multi-collapse collapse" id="Educ">
            <div class="card-body">
              <app-education></app-education>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="Ref">
            <div class="card-body">
              <app-reference></app-reference>
            </div>
          </div>
        </div>
        <div id="even">
          <div class="collapse multi-collapse" id="Achi">
            <div class="card-body">
              <app-achievements></app-achievements>
            </div>
          </div>
        </div>
        <div class="multi-collapse collapse" id="Skill">
          <div class="card-body">
            <app-skills></app-skills>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        #1 Holy Angel Avenue, Sto. Rosario Street, Angeles City, Pampanga
      </div>
    </div>
  </div>
</body>
